<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        ID <input type="text" name="id" value="{{user.id}}"> <br>
        NAME <input type="text" name="name" value="{{user.name}}"> <br>
        AGE <input type="number" name="age" value="{{user.age}}"> <br>
        EMAIL <input type="email" name="email" value="{{user.email}}"> <br>
        <input type="submit" value="Edit">
    </form>
</body>
</html>